<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config [
	<!ENTITY % version SYSTEM "version.ent">
	%version;
]>
<config version="&packageVersion;">
<!--
	Add IP addresses in here to allow XMLDump to be used frm them.
	Can be comma-, pipe- or whitespace separated
-->
	<xmldumpAllowedIPs>
		127.0.0.0
		10.0.7.1
	</xmldumpAllowedIPs>
</config>